! special
*.foreground:   #ABB2BF
*.background:   #1E2127
*.cursorColor:  #5C6370

! black
*.color0:       #1E2127
*.color8:       #5C6370

! red
*.color1:       #E45649
*.color9:       #E06C75

! green
*.color2:       #50A14F
*.color10:      #98C379

! yellow
*.color3:       #986801
*.color11:      #D19A66

! blue
*.color4:       #4078F2
*.color12:      #61AFEF

! magenta
*.color5:       #A626A4
*.color13:      #C678DD

! cyan
*.color6:       #0184BC
*.color14:      #56B6C2

! white
*.color7:       #ABB2BF
*.color15:      #FFFFFF
